<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	//show todo list
	<% todos.forEach(function(todo){)%>
		<p>
			<span>
				<%= todo.content %>
			</code>
			<span>
				<a href="/destroy/<%= todo.id %>" title="Delelte this todo item">Delete</a>
			</code>	
		</p>
	<% }); %>

	<% layout('layout') -%>
	<form action='/create' method='post' accept-charset='utf-8'>
		<input type='text' name='content'/>
	</form>
  </body>
</html>
